ion-fab-button {
    --background: #711402;
    --background-activated: #711502e3;
    --background-hover: #ad2308;
    --box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3), 0px 1px 3px 1px rgba(0,0,0,.15);
    --color: rgb(255, 255, 255);
  }
  .card_tienda{
    background-color: white;
  }
  .rowsito{
    background-color: #d3d3d3a4;
    border-radius: 5px;
  }
  .titulo_tienda{
    color: #d77b2b;
  }