<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tiendas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="impresion==0">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tiendas</ion-card-title>
      <ion-card-subtitle>Estas tiendas son las que actualmente estan disponibles</ion-card-subtitle>
      <ion-searchbar animated="true" (ionChange)="buscarTienda($event)" mode="ios" placeholder="Buscar tienda"></ion-searchbar>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let tienda of TiendaBuscada">
            <ion-grid>
              <ion-row class="ion-align-items-center rowsito">
                <ion-col size="9">
                  <ion-card class="card_tienda">
                    <ion-card-header>
                      <ion-card-title class="titulo_tienda">{{tienda.nombre}}</ion-card-title>
                      <ion-card-subtitle>{{tienda.direccion}}</ion-card-subtitle>
                      <ion-card-subtitle>{{tienda.responsable}}</ion-card-subtitle>
                    </ion-card-header>

                    <ion-card-content>
                      Celular:{{tienda.telefono}}
                    </ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col size="3">
                  <ion-button size="small" fill="clear" size="large" (click)="openModalEditarTienda(tienda)"><ion-icon name="pencil-outline"></ion-icon></ion-button>
                  <ion-button size="small" color="danger" fill="clear" size="large" (click)="presentAlert(tienda)"><ion-icon name="trash-outline"></ion-icon></ion-button>
                  <ion-button size="small" color="success" fill="clear" size="large" (click)="openModalTiendaQR(tienda)"><ion-icon name="print"></ion-icon></ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- boton de agregar -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openModalTienda()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-content *ngIf="impresion==1">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Impresoras disponibles</ion-card-title>
      <ion-card-subtitle>Elige una impresora para continuar</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of bluetoothList" (click)="selectPrinter(item.id)">
            {{item.name}} {{item.id}}
        </ion-item>
        </ion-list>
        <div *ngIf='selectedPrinter'>
           Impresora selecionada:<ion-badge slot="start"> {{selectedPrinter}}</ion-badge> 
        </div>
        <ion-button expand="full" color="success" *ngIf='selectedPrinter' (click)="printStuff()">
        Conectar
        </ion-button>  
    </ion-card-content>
  </ion-card>
</ion-content>