<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tiendas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tiendas</ion-card-title>
      <ion-card-subtitle>Estas tiendas son las que actualmente estan disponibles</ion-card-subtitle>
      <ion-searchbar animated="true" mode="ios" placeholder="Buscar tienda"></ion-searchbar>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
            <ion-grid>
              <ion-row class="ion-align-items-center rowsito">
                <ion-col size="9">
                  <ion-card class="card_tienda">
                    <ion-card-header>
                      <ion-card-title class="titulo_tienda">Abarrotes Tere</ion-card-title>
                      <ion-card-subtitle>Benito juarez #3</ion-card-subtitle>
                    </ion-card-header>

                    <ion-card-content>
                      Celular:9512164607
                    </ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col size="3">
                  <ion-button size="small" fill="outline"><ion-icon name="pencil-outline"></ion-icon></ion-button>
                  <ion-button size="small" color="danger" fill="outline"><ion-icon
                      name="trash-outline"></ion-icon></ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-item>






        <ion-item>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Abarrotes Tere</ion-card-title>
              <ion-card-subtitle>Benito juarez #3</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              Celular:9512164607
            </ion-card-content>
          </ion-card>
          <ion-button size="small" fill="outline"><ion-icon name="pencil-outline"></ion-icon></ion-button>
          <ion-button size="small" color="danger" fill="outline"><ion-icon name="trash-outline"></ion-icon></ion-button>
        </ion-item>
        <ion-item>

          <ion-card>
            <ion-card-header>
              <ion-card-title>Abarrotes La esquina</ion-card-title>
              <ion-card-subtitle>Benito juarez #3</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              Celular:9512164607
            </ion-card-content>
          </ion-card>
          <ion-button size="small" fill="outline"><ion-icon name="pencil-outline"></ion-icon></ion-button>
          <ion-button size="small" color="danger" fill="outline"><ion-icon name="trash-outline"></ion-icon></ion-button>

        </ion-item>
        <ion-item>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Abarrotes Teresss</ion-card-title>
              <ion-card-subtitle>Benito juarez #3</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              Celular:9512164607
            </ion-card-content>
          </ion-card>
          <ion-button size="small" fill="outline"><ion-icon name="pencil-outline"></ion-icon></ion-button>
          <ion-button size="small" color="danger" fill="outline"><ion-icon name="trash-outline"></ion-icon></ion-button>
        </ion-item>
        <ion-item>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Abarrotes Jaun</ion-card-title>
              <ion-card-subtitle>Benito juarez #3</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              Celular:9512164607
            </ion-card-content>
          </ion-card>
          <ion-button size="small" fill="outline"><ion-icon name="pencil-outline"></ion-icon></ion-button>
          <ion-button size="small" color="danger" fill="outline"><ion-icon name="trash-outline"></ion-icon></ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- boton de agregar -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>