<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar precio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <br>
    <br>
    <br>
    <ion-card>
      <ion-row class="ion-justify-content-center">
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Precio:</ion-label>
            <ion-input  [(ngModel)]="precioActual" type="number"  ></ion-input>
          </ion-item>

        </ion-col>

      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="4">
          <ion-button (click)="guardarPrecio(precioActual)"  shape="round">Guardar</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
