<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Impresoras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Impresoras disponibles</ion-card-title>
      <ion-card-subtitle>Elige una impresora para continuar</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of bluetoothList" (click)="selectPrinter(item.id)">
            {{item.name}} {{item.id}}
        </ion-item>
        </ion-list>
        <div *ngIf='selectedPrinter'>
           Impresora selecionada:<ion-badge slot="start"> {{selectedPrinter}}</ion-badge> 
        </div>
        <ion-button expand="full" color="success" *ngIf='selectedPrinter' (click)="printStuff()">
        Conectar
        </ion-button>  
    </ion-card-content>
  </ion-card>
  
        
</ion-content>
