<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>
    <ion-icon name="cube-outline"></ion-icon> Productos
  </ion-title>
</ion-toolbar>


<ion-content [fullscreen]="true">
  <ion-grid class="eleccion">
    <ion-row>
      <ion-searchbar  mode="ios" animated="true" placeholder="Buscar"></ion-searchbar>

    </ion-row>
  </ion-grid>
    <ion-row>
      <ion-segment (ionChange)="segmentChanged($event)" mode="ios"[value]="valueSelected">
        <ion-segment-button value="moles">
          <ion-label><strong>Moles</strong></ion-label>
        </ion-segment-button>
        <ion-segment-button value="chocolates">
          <ion-label><strong>Chocolates</strong></ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>
    
  <div *ngIf="valueSelected == 'chocolates'">
    <ion-grid>
      <ion-row>
  
        <ion-col *ngFor="let chocolate of chocolates" size="6">
          <ion-card class="card">
            <img alt="Silhouette of mountains" src="{{chocolate.img}}" />
            <ion-card-content>
              <ion-fab class="boton_agregar">
                <ion-fab-button >
                  <ion-icon (click)="addCarritoMole(chocolate)"  name="add"></ion-icon>
                </ion-fab-button>
              </ion-fab>
              <P>
                ${{chocolate.precio}}
              </P>
             <P>
              {{chocolate.nombre}}
             </P> 
             
            </ion-card-content>
          </ion-card>
        </ion-col>
       

      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="valueSelected == 'moles'">
    <ion-grid>
      <ion-row>
  
        <ion-col *ngFor="let mole of moles" size="6">
          <ion-card class="card">
            <img alt="Silhouette of mountains" src="{{mole.img}}" />
            <ion-card-content>
              <ion-fab class="boton_agregar">
                <ion-fab-button >
                  <ion-icon  (click)="addCarritoMole(mole)"  name="add"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            
             <h6>
             <strong>{{mole.nombre}}</strong>
             </h6> 
             <small>
              ${{mole.precio}}
            </small>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  

</ion-content>