ion-toolbar {
    --background: #711402;
    --color: white;
    border-radius: 0% 0% 25% 0%!important;
    border: #000000;
  }
  .opciones{
    background-color: #c7c7c7;
  }
  .rowsito{
    background-color: #c7c7c7;
  }
