
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Pedidos
    </ion-title>
  </ion-toolbar>



<ion-content [fullscreen]="true">
  <!-- <div  style="padding-top: 110px;">
    <img alt="Silhouette of mountains" src="../../assets/img/add_file.png" />
    <ion-card-header align="center">
      <ion-card-title>No tienes ningun pedido.</ion-card-title>
      <ion-card-subtitle>Agrega un pedido para empezar.</ion-card-subtitle>
    </ion-card-header>
  </div>
  <ion-card> -->
    <ion-card-header>
      <ion-card-title>Pedidos</ion-card-title>
      <ion-card-subtitle>Estos son los pedidos que se han realizado</ion-card-subtitle>
      <!-- <ion-searchbar (ionChange)="buscador($event)" animated="true"  mode="ios" placeholder="Buscar pedido"></ion-searchbar> -->
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item >
            <ion-grid>
              <ion-row *ngFor="let pedido of PedidoBuscado"  class="ion-align-items-center rowsito">
                <ion-col  size="9">
                  <ion-card color="medium" class="card_pedido">
                    <ion-card-header>
                      <ion-card-title class="titulo_pedido">Cliente: {{pedido.tienda}}</ion-card-title>
                      <!-- <ion-card-subtitle>Fecha: {{pedido.fecha}}</ion-card-subtitle> -->
                      <ion-card-subtitle>Repartidor:  {{pedido.repartidor}}</ion-card-subtitle>
                    </ion-card-header>

                    <ion-card-content>
                      <ion-card-subtitle>Productos:</ion-card-subtitle>
                      <ion-card-subtitle>Nombre/Descripción</ion-card-subtitle>
                      <ion-item *ngFor="let productos of pedido.productos">
                        <ion-row>
                          <ion-col size="12"><ion-card-subtitle >{{productos.producto.nombre}}  {{productos.producto.descripcion}}</ion-card-subtitle></ion-col>
                          <ion-col size="12"> <ion-card-subtitle > {{productos.cantidad}} x {{productos.producto.precio}}</ion-card-subtitle></ion-col>
                        </ion-row>                      
                      </ion-item>

                      <ion-card-subtitle>Total de venta: ${{pedido.precioTotal}}</ion-card-subtitle>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col size="3">
                  
                  <ion-button size="small" color="success" fill="clear" size="large" ><ion-icon name="print"></ion-icon></ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
</ion-content>
