<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>
    <ion-icon name="reader-outline"></ion-icon> Cuenta
  </ion-title>
</ion-toolbar>


<ion-content [fullscreen]="true" *ngIf="impresion==0">
  <ion-card color="medium">
    <ion-card-content>
      <ion-button  color="danger" (click)="presentAlert()"  expand="block" shape="round">Cancelar pedido</ion-button>
      <br>
      <ion-item>
        <ion-row>
          <ion-col size="12">
            <ion-label>Tienda: {{datos_tienda.nombre}}</ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label>Telefono: {{datos_tienda.telefono}}</ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label>Dirección:</ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label>{{datos_tienda.direccion}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <div *ngIf="precioTotal==0" style="padding-top: 110px;">
    <img alt="Silhouette of mountains" src="../../assets/img/Agregar_carrito.png" />
    <ion-card-header align="center">
      <ion-card-title>No tienes ningun articulo.</ion-card-title>
      <ion-card-subtitle>Agrega articulos para empezar.</ion-card-subtitle>
    </ion-card-header>
  </div>
  <ion-card  *ngIf="precioTotal>0">
    <ion-card-header color="light">
      <ion-card-title>Productos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="inset">
        <ion-item *ngFor="let producto of pedidos; let i = index">
          <ion-thumbnail slot="start">
            <ion-avatar>
              <img alt="" style="width: 100%; height: 100%" src={{producto.producto.img}} />
            </ion-avatar>
          </ion-thumbnail>
          <ion-label>
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <ion-col><ion-label>{{producto.producto.nombre}}</ion-label></ion-col>
                <ion-col><ion-label>{{producto.producto.descripcion}}</ion-label></ion-col>
              </ion-row>
              <ion-row>
                <ion-col><ion-label> <ion-badge (click)="cambiarPrecio(producto.producto,i,producto.producto.precio)"
                      slot="start">${{producto.producto.precio}}</ion-badge></ion-label></ion-col>
                <ion-col> </ion-col>
                <ion-col> </ion-col>
                <ion-col><ion-label (click)="removeCarrito(producto.producto,i)" class="icono_eliminar"><ion-icon
                      name="trash-outline"></ion-icon></ion-label></ion-col>

              </ion-row>
              <ion-row>
                <ion-col class="cantidad" size="12">
                  <ion-button class="boton_cantidad"
                    (click)="decrement(producto.producto.id,producto.cantidad,i)">-</ion-button>
                  <p>{{producto.cantidad}}</p>
                  <ion-button class="boton_cantidad"
                    (click)="increment(producto.producto.id,producto.cantidad,i)">+</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  

  <!-- boton generar pedido-->

  



</ion-content>
<ion-content *ngIf="impresion==1">
  <ion-card  >
    <ion-card-header>
      <ion-card-title>Impresoras disponibles</ion-card-title>
      <ion-card-subtitle>Elige una impresora para continuar</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of bluetoothList" (click)="selectPrinter(item.id)">
            {{item.name}} {{item.id}}
        </ion-item>
        </ion-list>
        <div *ngIf='selectedPrinter'>
           Impresora selecionada:<ion-badge slot="start"> {{selectedPrinter}}</ion-badge> 
        </div>
        <ion-button expand="full" color="success" *ngIf='selectedPrinter' (click)="printStuff()">
        Conectar
        </ion-button>  
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-row class="ion-align-items-center" *ngIf="impresion==0">
  <ion-col size="3" class="ion-align-items-center">
    <ion-badge style="font-size: large;" mode="ios" *ngIf="precioTotal>0"> Total: $ {{precioTotal}}</ion-badge>
  </ion-col>
  <ion-col size="6" >
  </ion-col>
  <ion-col *ngIf="precioTotal>0"  size="3">
      <ion-button color="success" expand="block" id="top-center"> <ion-icon name="print-outline"></ion-icon></ion-button>
      <ion-popover trigger="top-center" side="top" alignment="center " [dismissOnSelect]="true">
        <ng-template>
         <ion-button (click)="CompraContado()" fill="clear" expand="block">Contado</ion-button>
         <ion-button (click)="compraCredito()" fill="clear" expand="block">Credito</ion-button>
        </ng-template>
      </ion-popover>
    </ion-col>
</ion-row>