<ion-header *ngIf="visible=='show'">
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>
<ion-row class="qr_activo" *ngIf="visible=='hidden'">
<ion-col class="cuadro_qr">

</ion-col>
</ion-row>
<ion-content *ngIf="visible=='show'">
  <ion-card class="card_principal">
    <ion-card-header>
      <ion-card-title>Vamos a comenzar</ion-card-title>
      <ion-card-subtitle>Elije una opción</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-card color="light">
            <img alt="Silhouette of mountains" src="../../../assets/img/undraw_Order_confirmed_re_g0if.png" />
            <ion-card-header>
              <ion-card-title>Escanear Qr</ion-card-title>
              <ion-card-subtitle>escanear un codigo de tienda para empezar a generar una venta.</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <ion-button (click)="startScan()" expand="block">Escanear Qr</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-item>
  
        <ion-item>
          <ion-card color="light">
            <img alt="Silhouette of mountains" src="../../../assets/img/undraw_App_installation_re_h36x.png" />
            <ion-card-header>
              <ion-card-title>Tiendas</ion-card-title>
              <ion-card-subtitle>Agrega una nueva tienda o administra las tiendas disponibles.</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <ion-button [routerLink]="['/tiendas']" routerLinkActive="router-link-active" expand="block">Tiendas</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-item> 
      
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
