.card_principal{
 
}
ion-toolbar{
    --background: #711402;
    --color: white;
    
}
ion-button{
    --background: #D77B2B;
}
// .qr_activo{
//     background-color: rgba(0, 0, 0, 0.459);
//     height: 100%;
//     width: 100%;
// }
// .cuadro_qr{
//     height: 100px;
//     background-color: rgb(175, 175, 175);
//     position: absolute;
//     top: 500px;
    
// }