<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <ion-card-title>Hola</ion-card-title>
          <ion-card-subtitle>{{datos.nombre}} {{datos.apellido_paterno}} {{datos.apellido_materno}}</ion-card-subtitle>
        </ion-col>
        <ion-col size="4">
          <ion-menu-toggle> 
          <ion-button   fill="clear" (click)="logOut()" expand="full" class="btn-danger" shape="round"><ion-icon name="power-outline"></ion-icon></ion-button>
          </ion-menu-toggle> 
        </ion-col>
      </ion-row>
    </ion-grid>
   
    <ion-list>
      <ion-menu-toggle > 
      <ion-button   fill="clear"  [routerLink]="['/tiendas']" routerLinkActive="router-link-active"  expand="full"  >Tiendas</ion-button>
    </ion-menu-toggle>
    <ion-menu-toggle *ngIf="datos.rol=='administrador'"> 
      <ion-button   fill="clear" [routerLink]="['/productos']" routerLinkActive="router-link-active"  expand="full"  >Productos Admin</ion-button>
    </ion-menu-toggle>
    <ion-menu-toggle> 
      <ion-button  fill="clear"  [routerLink]="['/tabs/tab2']" routerLinkActive="router-link-active"  expand="full" >Productos Repartidor</ion-button>
    </ion-menu-toggle>
    <ion-menu-toggle> 
      <ion-button  fill="clear"  [routerLink]="['/usuarios']" routerLinkActive="router-link-active"  expand="full"  >Usuarios</ion-button>
    </ion-menu-toggle>
    <ion-menu-toggle> 
      <ion-button  fill="clear" [routerLink]="['/impresoras']" routerLinkActive="router-link-active"  expand="full">Impresoras</ion-button>
    </ion-menu-toggle>
    <ion-menu-toggle> 
      <ion-button  fill="clear" [routerLink]="['/home']" routerLinkActive="router-link-active"  expand="full">Pedidos</ion-button>
    </ion-menu-toggle>
 
    </ion-list>
  </ion-content>

 
    <ion-grid align="center" >
      <ion-row>
        <ion-col>
          <img alt="Silhouette of mountains" src="../../../assets/img/LogoOaxacaDeAntequera.png" />
        </ion-col>
      </ion-row>
    </ion-grid>
  
  
</ion-menu>